<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>EmailCode</title>
  </head>
  <body>
    <div style='text-align: center;'>
      <img src='{{companyImage}}' alt='' />
    </div>
    <h2 style='text-align: center;'>Verifica tu correo</h2>
    <p style='text-align: center;'>
      Utiliza el siguiente código de verificación para completar tu registro en
      nuestro sitio web:
    </p>
    <h1
      style='text-align: center;padding: 4px 12px; background-color: #f5f5f5;'
    >
      {{code}}
    </h1>
    <p style='text-align: center;'>
      Por favor, no respondas a este correo. Si tienes algún problema, visita
      nuestro sitio web o contacta a soporte.
    </p>
  </body>

</html>